---
pageable: true
per_page: 10
title: Hello! I'm Paul!
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="article-excerpt">
    <div class="ss style-dots">
      <div class="date"><%= human_date(article.date) %></div>
      <h2><%= link_to article.title, article %> </h2>
      <%= article.body.split("\n\n").first(2).join("\n\n") %>
      <% if article.body.split("\n").count > 2 %>
        <%= link_to "- read more -", article %>
      <% end %>
    </div>
  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
